#boy {
    font-size: 24px;
    color: blueviolet;
}
.yellow {
    background: yellow;
    border-radius: 4px;
    display: grid;
    place-items: center;

    & p {
        text-align: center;
        color: black;
        font-family: cursive;
        font-size: 36px;
        font-weight: black;
    }
}
.blue {
    background: blue;
    border-radius: 4px;
    display: grid;
    place-items: center;

    & p {
        text-align: center;
        color: black;
        font-family: cursive;
        font-size: 36px;
        font-weight: black;
    }
}

.file-input-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    
    & label {
        width: 50%;
        margin: 40px auto;
        border: 1px solid black;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 20px;
        line-height: 24px;
    }
}

.selected-image {
    width: 40%;
    margin: 20px auto;
    border: 1px solid black;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;

    & img {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
    }
}
.btn-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & input {
        width: 200px;
        padding: 8px 16px;
        font-size: 20px;
        line-height: 24px;
        border: 1px solid black;
        border-radius: 4px;
    }

    & button {
        width: fit-content;
        padding: 8px 16px;
        background: green;
        font-size: 24px;
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
    }
}

.grid-container {
    width: calc(100% - 80px);
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}